* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  line-height: 1.65;
}

.container {
  padding: 200px 80px;
  padding-bottom: 50px;
  width: 100%;
  background-color: #ddd;
  box-sizing: border-box;
  display: flex;
}

.col-1 {
  padding: 10px;
  background-color: #fff;
  width: 2500px;
  height: 230vh;
  border: 2px solid transparent;
  box-shadow: 0 0 5px #000;
  border-radius: 5px;
}

.col-1 img {
  padding-top: 20px;
  width: 900px;
  padding: 15px;
}

.col-1 a {
  text-decoration: none;
  padding: 100px;
  color: brown;
  cursor: pointer;
}

.col-2 {
  padding: 10px;
  background-color: #fff;
  width: 1000px;
  height: 145vh;
  border: 2px solid transparent;
  box-shadow: 0 0 5px #000;
  border-radius: 5px;
  margin: 0 30px;
  text-align: center;
}

.col-2 img {
  width: 300px;
}

.col-2 p {
  text-align: justify;
}
