* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.5s;
}

body {
  background-color: #fff;
  line-height: 1.65;
}

.container {
  padding: 200px 80px;
  padding-bottom: 50px;
  width: 100%;
  background-color: #ddd;
  box-sizing: border-box;
  display: flex;
}

.col-1 {
  padding: 10px;
  background-color: #fff;
  width: 2500px;
  height: 190vh;
  border: 2px solid transparent;
  box-shadow: 0 0 5px #000;
  border-radius: 5px;
}

.col-1 .judul {
  text-align: center;
  font-size: 30px;
  color: #000;
  padding-bottom: 50px;
  color: brown;
}

.col-1 p {
  padding-top: 20px;
  text-align: justify;
  padding: 15px;
}

.col-2 {
  padding: 10px;
  background-color: #fff;
  width: 1000px;
  height: 150vh;
  border: 2px solid transparent;
  box-shadow: 0 0 5px #000;
  border-radius: 5px;
  margin: 0 30px;
  text-align: center;
}

.col-2 img {
  width: 300px;
}

.col-2 p {
  text-align: justify;
}

@media (max-width: 780px) {
  .container {
    padding: 130px 10px;
    padding-top: 100px;
    padding-bottom: 50px;
    display: block;
  }

  .container .judul{
    font-size: 15px;
    
  }
  .col-1 {
    padding: 10px;
    background-color: #fff;
    width: 350px;
    height: 540vh;
  }
  .col-1 img {
    padding-top: 20px;
    width: 300px;
    padding: 15px;
  }

  .col-1 a {
    padding: 10px;
    padding-left: 100px;
    font-size: 12px;
  }

  .col-2 {
    width: 350px;
    height: 170vh;
    margin: 0;
    margin-top: 3%;
  }

  .col-2 img {
    width: 300px;
  }

  .col-2 p {
    text-align: justify;
  }
}
