*{
    margin: 0;
    padding: 0;
}

body {
  background-color: #fff;
  line-height: 1.65;
}

.container{
    padding-top: 200px;
}

.container h2{
    padding-left: 20px;
    color: brown;
}
.container p{
    padding-left: 20px;
    text-align: center;
    padding-bottom: 30px;
}
.container ul{
    padding-left: 50px;
    padding-bottom: 30px;
}


